<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
	   <binding name="BasicHttpBinding_IProxy" maxBufferPoolSize="2147483647"
	   maxReceivedMessageSize="2147483647">
		   <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
			maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
	   </binding>
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8090/Proxy_cache/Proxy" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_IProxy" contract="Proxy.IProxy"
    name="BasicHttpBinding_IProxy" />
  </client>
 </system.serviceModel>
</configuration>